.container {
  color: var(--stocks-text-color);
}

.title {
  color: var(--stocks-text-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.description {
  color: var(--stocks-text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
